* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(121, 110, 64);
}

.App {
  font-family: sans-serif;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.info {
  text-align: center;
}

.gameInfo {
  font-size: 75px;
  font-weight: 200;
  width: 100%;
  min-height: 200px;
}

h1 span {
  font-size: 120px;
  font-weight: 500;
}

.winner {
  animation-name: win;
  animation-duration: 3s;
}

.loser {
  animation-name: lose;
  animation-duration: 3s;
}

@keyframes win {
  0% {
    background-color: rgb(121, 110, 64);
  }
  50% {
    background-color: green;
  }
  100% {
    background-color: rgb(121, 110, 64);
  }
}

@keyframes lose {
  0% {
    background-color: rgb(121, 110, 64);
  }
  50% {
    background-color: red;
  }
  100% {
    background-color: rgb(121, 110, 64);
  }
}

.gameButtons {
  margin: 3rem;
}

button {
  width: 100px;
  height: 50px;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  background-color: rgb(90, 80, 68);
}

.higher {
  background-color: rgb(21, 241, 21);
}

.lower {
  background-color: rgb(241, 36, 36);
}
